/* Google Montserrat Font Family  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --primary-font: "Montserrat", sans-serif;
  --prim-font-weight: 600;
  --sec-font-weight: 500;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none !important;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}
.standard {
  width: 80%;
  margin: 0 auto;
}
.top_header {
  background-color: #ffffff;
  padding: 20px 50px 20px 50px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  list-style: none;
}
.navigation ul li {
  display: inline-block;
  padding: 10px 5px;
}
.navigation ul li a {
  padding: 10px 25px;
  display: inline-block;
  font-family: var(--primary-font);
  color: black;
  font-size: 18px;
  position: relative !important;
  font-weight: var(--prim-font-weight);
  transition: all 0.5s ease;
}
.navigation ul li a:hover {
  color: #09396d;
}
.Submenu {
  position: relative;
  opacity: 0;
  margin: 0;
  visibility: hidden;
}
.navigation ul li:hover .Submenu {
  visibility: visible;
  opacity: 1;
}
.Submenu ul {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: #27b276;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  /* z-index: 99999; */
}

.Submenu ul li {
  display: block;
  border: 1px solid #ffffff;
  padding: 12px 20px;
}
.Submenu ul li a {
  display: inline-block;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  color: #ffffff;
  /* padding: 0px 90px !important; */
  position: relative;
  white-space: nowrap;
  /* width: 100%; */
}
.Submenu ul li a:hover {
  color: #ffe900 !important;
}

.navigation ul li .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  color: #09396d;
  border-bottom: 3px solid #09396d;
  transition: 0.3s all ease;
  opacity: 0;
}
.navigation ul li a:hover::after {
  visibility: visible;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease all;
}
.navigation .top_btn {
  color: #ffffff;
  font-size: 17px;
  font-family: var(--primary-font);
  font-weight: var(--prim-font-weight);
  background-color: #27b276;
  padding: 12px 50px 15px;
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.5s ease;
  text-align: center;
}
.navigation .top_btn:hover {
  background-color: #09396d;
}
/* banner_Slider_Section start  */
.banner_Slide_image {
  background-image: url(../webImages/Slide_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh !important;
  position: relative;
}
.banner_Slide_image_2 {
  background-image: url(../webImages/Slide_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh !important;
  position: relative;
}
.banner_Slide_image_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09396db7;
  opacity: 0.7;
}
.banner_Slide_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09396db7;
  opacity: 0.7;
}
.description_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10%;
}
.description_box h1 {
  color: #ffffff;
  font-size: 4.6rem;
  font-weight: var(--prim-font-weight);
  text-align: center;
  font-family: var(--primary-font);
}
.description_box p {
  font-size: 17px;
  font-family: var(--primary-font);
  font-weight: var(--sec-font-weight);
  color: #ffffff;
  text-align: center;
  opacity: 0.9;
}
.description_box .learn_more_btn {
  background-color: #27b276;
  color: #ffffff;
  font-size: 18px;
  font-weight: var(--prim-font-weight);
  font-family: var(--primary-font);
  display: inline-block;
  padding: 18px 40px;
  transition: 0.7s ease all;
}
.description_box .learn_more_btn:hover {
  background-color: #ffe900;
  color: black;
}
.description_box .Contact_us_link {
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  font-weight: var(--prim-font-weight);
  font-family: var(--primary-font);
  display: inline-block;
  padding: 18px 40px;
  margin: 15px 10px;
  transition: 500ms ease all;
}
.description_box .Contact_us_link:hover {
  background-color: #09396d;
  color: #ffffff;
  transition: 500ms ease all;
}
/* banner_Slider_Section End  */

/* Three Card Conatiner Section Start   */
.doctor_department {
  transform: translateY(-20%);
  /* z-index: 999; */
  position: relative;
  z-index: 999;
}

.card_container .inner_card {
  display: flex;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.card_container .inner_card .Cunsult_card {
  /* padding: 0px 30px; */
  text-align: center;
  padding: 40px 45px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}
.card_container .Specialist_card {
  background-color: #27b276;
  /* padding: 0px 30px; */
  text-align: center;
  padding: 40px 45px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  transform: translateY(-5%);
}

.card_container .inner_card .Hours_card {
  padding: 0px 30px;
  text-align: center;
  padding: 40px 45px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
  height: 100%;
}
.card_container img {
  width: 138px;
  height: 138px;
}

.card_container .inner_card .Cunsult_card h4 {
  color: #09396d;
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: var(--prim-font-weight);
  margin: 8 0 20px;
}
.card_container .inner_card .Specialist_card h4 {
  color: #ffe900;
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: var(--prim-font-weight);
  margin: 8 0 20px;
}
.card_container .inner_card .Hours_card h4 {
  color: #09396d;
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: var(--prim-font-weight);
  margin: 8 0 20px;
}
.inner_card .Specialist_card p {
  color: #ffffff;
  font-size: 15px;
  font-family: var(--primary-font);
  font-weight: var(--prim-font-weight);
  opacity: 0.9;
  line-height: 25px;
}

.inner_card p {
  color: #4d4d4d;
  font-size: 15px;
  font-family: var(--primary-font);
  font-weight: var(--prim-font-weight);
  line-height: 25px;
}
.inner_card i {
  font-size: 45px;
  color: #ffe900;
  margin: 30px;
}

/* Three Card Conatiner Section End   */
/* About Us section  */
.About_us_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  padding-bottom: 100px;
}

.about_us_items_1 .about_img {
  position: relative;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}
.about_us_items_1 .about_img img {
  width: 650px;
  height: 440;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.about_us_items_1 .about_img::before {
  content: "";
  position: absolute;
  right: -6%;
  top: -8%;
  width: 50%;
  height: 70%;
  z-index: -9999;
  background-image: url(../webImages/dot_1.png);
}
.about_us_items_1 .small_box h4 {
  font-weight: var(--prim-font-weight);
  font-family: var(--primary-font);
  font-size: 28px;
  color: #ffffff;
  background-color: #09396d;
  display: inline-block;
  position: absolute;
  bottom: -20%;
  left: -30px;
  padding: 35px 30px;
}

.about_us_items_2 h2 {
  color: black;
  font-weight: var(--prim-font-weight);
  font-family: var(--primary-font);
  font-size: 35px;
  /* padding: 0 50px; */
}
.about_us_items_2 span {
  color: #27b276;
}
.about_us_items_2 p {
  color: #4d4d4d;
  font-size: 15px;
  font-family: var(--primary-font);
  font-weight: var(--sec-font-weight);
  margin-bottom: 40px;
  /* padding: 0 50px; */
  opacity: 0.9;
}
.about_us_items_2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about_us_items_2 ul li {
  color: #4d4d4d;
  font-size: 15px;
  font-family: var(--primary-font);
  font-weight: var(--sec-font-weight);
  text-align: left;
  padding: 5px;
}
.about_us_items_2 .our_specialist_lnk {
  margin: 30px 0;
  padding: 15px 30px;
  display: inline-block;
  background-color: #27b276;
  color: #ffffff;
  font-size: 15px;
  font-family: var(--primary-font);
  font-weight: var(--sec-font-weight);
  transition: 0.5s ease all;
}
.about_us_items_2 .our_specialist_lnk:hover {
  color: #ffffff;
  background-color: #09396d;
}
/* About Us section ENd */

/* Counter Section Start */
.counter_container {
  position: relative;
}
.counter_container {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../webImages/rectangle_dot.png);
  padding: 30px 0px;
  /* z-index: 99999; */
}

/* .counter_container .counter_content
 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
} */
.counter_container .counter_content .title {
  padding: 50px;
}
.counter_container .counter_content .digit {
  font-size: 60px;
  /* text-align: center; */
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  font-weight: 600;
}
.counter_container .seprate {
  display: block !important;
}
.counter_container .digit {
  font-size: 60px;
  /* text-align: center; */
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  font-weight: 600;
}
.counter_container h3 {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--primary-font);
  /* color: #4d4d4d; */
  text-align: center;
  display: inline-block;
}
.counter_container .counter_content div {
  /* border-right: 2px solid #f0efef; */
  /* text-align: center; */
}

.counter_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.counter_container .green_letter {
  color: #27b276;
  font-weight: 600;
  font-family: var(--primary-font);
  font-size: 60px;
}
/* Counter Section End */
/* Our Specialist Section */
.Specialist_section {
  background-color: #f1fff9;

  height: 100%;

  position: relative;
  z-index: 9999;
  overflow: hidden;
}
.Specialist_section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../webImages/dot_1.png);
  width: 5%;
  height: 18%;
  /* z-index: -9999; */
}

.specialis_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
}
.Specialist_section h1 {
  color: black;
  font-size: 40px;
  font-family: var(--primary-font);
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.specialist_items p {
  color: #4d4d4d;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.specialist_items span {
  color: #27b276;
}

.card_department .inner_cards_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.inner_cards_items img {
  width: 120px;
  height: 120px;
  /* padding: 30px; */
}
.inner_cards_items .card_item_1 {
  background-color: white;
  padding: 50px 30px 50px 30px;
}
.inner_cards_items .card_item_2 {
  background-color: white;
  padding: 50px 30px 50px 30px;
}
.inner_cards_items .card_item_3 {
  background-color: white;
  padding: 50px 30px 50px 30px;
}
.inner_cards_items .card_item_4 {
  background-color: white;
  padding: 50px 30px 50px 30px;
}
.inner_cards_items .card_item_5 {
  background-color: white;
  padding: 50px 30px 50px 30px;
}
.inner_cards_items .card_item_6 {
  background-color: white;
  padding: 50px 30px 50px 30px;
}

.inner_cards_items h2 {
  color: black;
  font-weight: 600;
  font-family: var(--primary-font);
  font-size: 1.5rem;
}
.inner_cards_items p {
  font-family: var(--primary-font);
  font-weight: 500;
  color: #4d4d4d;
  opacity: 0.7;
  line-height: 24px;
}
/* Our Specialist Section End */
/* Top_Doctors Section Start  */
.container_width {
  width: 75%;
  margin: 0 auto;
}
.top_Doctor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  height: 100vh;
  /* background-color: red; */
  padding: 100px 100px;
}
.doote_bg {
  background-image: url(../webImages/top_doctor_bg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top_doctor_col_1 {
  padding-top: 100px;
}
.top_doctor_col_1 h1 {
  color: black;
  font-size: 40px;
  font-family: var(--primary-font);
  font-weight: 600;
}
.top_doctor_col_1 span {
  color: #27b276;
}
.doctor_pic {
  position: relative;
}
.top_doctor_col_2 .people::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: rgba(143, 141, 141, 0.396);
  height: 100%;
  z-index: 999;
  opacity: 0;
  transition: 0.5s ease all;
}
.top_doctor_col_2 .people:hover::before {
  opacity: 1;
}
.top_doctor_col_2 .people_img_2 {
  transform: translateY(-14%);
}
.top_doctor_col_2 .people_img_4 {
  transform: translateY(-10%);
}
.doctor_pic:hover .pic_inside_icon {
  opacity: 1;
  transition: 0.5s ease all;
}

.pic_inside_icon {
  position: absolute;
  bottom: 50%;
  top: 50%;
  left: 30%;
  right: 50%;
  transition: 0.5s ease all;
  z-index: 99999;
  display: flex;
  opacity: 0;
}
.pic_inside_icon i {
  font-size: 25px;
  color: #27b276;
  transition: all 0.5s ease;
  /* visibility: hidden; */
  padding: 0 5px;
}
.pic_inside_icon i:hover {
  color: #ffffff;
}
.top_doctor_col_1 p {
  color: #4d4d4d;
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: 16px;
  /* padding: 20px; */
  padding-bottom: 30px;
  line-height: 24px;
}
.top_doctor_col_1 .top_doctor_btn {
  padding: 15px 20px;
  background: #27b276;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: inline-block;
  transition: 0.5s ease all;
}
.top_doctor_col_1 .top_doctor_btn:hover {
  background-color: #09396d;
}
.top_doctor_col_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
}
.top_doctor_col_2 p {
  color: #09396d;
  font-size: 22px;
  font-family: var(--primary-font);
  font-weight: 800;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 50px;
}
.top_doctor_col_2 span {
  color: #4d4d4d;
  font-weight: 500;
  font-family: var(--primary-font);
  text-align: center;
  display: block;
  opacity: 0.5;
  font-size: 16px;
}

.top_doctor_col_2 div img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Top_Doctors Section End */
/* Appointment Form Section Start  */
.container_width_box {
  margin: 0 auto;
  width: 95%;
}
.tittle_col {
  padding-left: 70px;
}
.tittle_col h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  font-family: var(--primary-font);
}
.tittle_col span {
  color: #ffe900;
  font-weight: 600;
  font-family: var(--primary-font);
}
.tittle_col h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--primary-font);
}
.tittle_col p {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--primary-font);
  color: #ffffff;
  line-height: 25px;
}
.appintment_col_1 {
  z-index: 999;
}
.appintment_col_2 {
  z-index: 9999;
  position: relative;
}
.container_col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 70px 0;
  background-image: url(../webImages/Doctor_lab.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 95%; */
  /* height: 100%; */
  position: relative;
}
.container_col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #27b276;
  /* z-index: -999; */
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.appintment_col_2 input {
  padding: 14px 30px;
  font-size: 15px;
  outline: none;
  border: 1px solid #ededed;
  line-height: 15px;
}
.appintment_col_2 input[type="email"] {
  /* width: 65%; */
  width: 475px;
}

.appintment_col_2 textarea {
  outline: none;
  border: 1px solid #ededed;
  margin-top: 1rem;
  font-size: 15px;
  padding: 15px 25px;
}
.appintment_col_2 button {
  margin-top: 1rem;
  outline: none;
  padding: 15px 25px;
  font-size: 16px;
  background-color: #09396d;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-family: var(--primary-font);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s all ease;
}
.appintment_col_2 button:hover {
  background-color: #27b276;
}
/* Appointment Form Section End  */
/* Our_Testimonials section Start */
.testominal_bg {
  position: relative;
}
.testominal_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../webImages/testimonial_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 9999; */
  /* margin: 0 auto; */
  /* text-align: center; */
}
.bg_color {
  background-color: #f1fff9;
  width: 100%;
}
.Testimonial_inner_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  /* background-color: #f1fff9; */
  margin: 0 auto;
  width: 80%;
  overflow-x: hidden;
  /* text-align: center; */
}
.testimonial_inner {
  margin: 0;
  padding: 0;
}
.testimonial_inner i {
  background-color: #27b276;
  font-size: 60px;
  border-radius: 50%;
  color: #ffffff;
  padding: 20px;
  transition: 0.5s ease all;
}

.testimonial_inner i:hover {
  color: gray;
}
.testimonial_inner {
  padding-top: 100px;
  padding-left: 100px;
}
/*  */

/*  */
.testimonial_content_col_1 img {
  width: 506px;
  height: 555px;
  text-align: center;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 70px 0;
}
.my_slides {
  margin: 0 auto;
  /* padding-left: 100px; */
}
.testimonial_inner h1 {
  color: black;
  font-size: 35px;
  font-family: var(--primary-font);
  font-weight: 600;
}
.testimonial_inner span {
  color: #27b276;
}
.testimonial_inner h4 {
  color: black;
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 600;
  opacity: 0.8;
  line-height: 30px;
}
.testimonial_inner small {
  color: #09396d;
  font-size: 25px;
  font-family: var(--primary-font);
  font-weight: 600;
}
.testimonial_inner .company_name {
  color: #4d4d4d;
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: 15px;
  opacity: 0.6;
}
/* Our_Testimonials section End  */
/* inputForm Section */
.appoinemnet_container {
  background-image: url(../webImages/Doctor_lab.jpg);
  /* background-color: #27b276; */
  opacity: 0.95;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin: 0 auto;
  padding: 60px 0px 60px 0px;
  height: 100%;
}
/* Latest New section Start   */
.latest_new_bg {
  background-image: url(../webImages/latest_new_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.latest_new {
  height: 100%;
  /* padding: 100px 0px; */
}
.latest_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}
.latest_title h1 {
  font-size: 44px;
  font-weight: 600;
  font-family: var(--primary-font);
  margin-bottom: 30px;
}
.latest_title span {
  color: #27b276;
}
.latest_title p {
  color: #4d4d4d;
  font-size: 17px;
  font-weight: 500;
  font-family: var(--primary-font);
  padding-bottom: 70px;
}
/* Latest New section End */
.news_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card_items_2 {
  padding-bottom: 150px;
}
.news_cards img {
  width: 100%;
}
.news_cards a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.news_cards h2 {
  font-weight: 600;
  font-family: var(--primary-font);
}
.news_cards span {
  font-family: var(--primary-font);
  font-weight: 500;
  color: #4d4d4d;
  opacity: 0.5;
}
.news_cards p {
  font-weight: 500;
  font-family: var(--primary-font);
  color: black;
  padding-bottom: 40px;
  opacity: 0.7;
  font-size: 15px;
}
.line_ {
  border: 1px solid #f0efef;
}
/* Companies Logos Section Start  */
/* .Companies {
  padding-top: 50px;
} */
.container_width_2 {
  width: 85%;
  margin: 0 auto !important;
  /* z-index: 9999; */
  position: relative;
  overflow-x: hidden;
}
.logos_img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem;
  margin: 0 auto;

  /* overflow: visible; */
}
.logos_img div {
  display: flex;
}

.blue_box {
  position: relative;
  /* overflow: hidden; */
}
.blue_box::before {
  background-image: url(../webImages/logo_line_bg.png);
  /* width: 100%; */
  height: 100%;
  content: "";
  left: 29%;
  top: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  /* color: #09396d; */
}
.blue_box_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #09396d;
  text-align: center;
  margin-top: 50px;
}
.blue_box_title h1 {
  color: #ffffff;
  font-weight: 600;
  font-family: var(--primary-font);
  padding: 50px;
  font-size: 40px;
  z-index: 9999;
}
.blue_box_title a {
  padding: 20px 40px;
  color: #ffffff;
  background-color: #27b276;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 600;
  transition: 0.5s ease all;
  z-index: 9999;
}
.blue_box_title a:hover {
  color: #09396d;
  background-color: #ffffff;
}
.btn_bg {
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  opacity: 0.93;
  z-index: 9999;
  padding-top: 100px;
}
.footer::before {
  position: absolute;
  content: "";
  /* top: -50%; */
  /* right: 0; */
  height: 100%;
  width: 100%;
  background-image: url(../webImages/footer_bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80%;
  opacity: 0.1;
  padding: 100px 0;
  z-index: -9999;
}
.inner_footer .logo_center {
  text-align: center;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
}
.inner_footer p {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--primary-font);
  text-align: center;
  color: black;
  opacity: 0.5;
}
.footer_menu ul li {
  display: inline-block;
  padding: 10px 10px;
}
.footer_menu ul li a {
  padding: 10px 10px;
  color: #27b276;
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 20px;
}
.socila_links {
  padding: 30px 0;
}
.socila_links i {
  color: #ffffff;
  font-size: 22px;
  background-color: #27b276;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.5s ease;
}
.socila_links i:hover {
  background-color: #09396d;
}
.copy_right_title {
  color: #4d4d4d;
  font-size: 17px;
  font-weight: 600;
  font-family: var(--primary-font);
  padding: 20px;
}
/* inputForm Section End */
